# streamlit
# streamlit-audiorecorder

# torch  
torch
transformers
huggingface_hub
flair
seqeval
tqdm
pytz

numpy

# git+https://github.com/stlukey/whispercpp.py

#pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

pydub
librosa
soundfile